@import '../App/vars.less';

// TODO: Make margins relative (100vw)
.name {
  max-width: 740px;
  margin: 0 auto 78px;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.09;
}

.place {
  margin: 0 0 167px;
}

.tags {
  max-width: 740px;
  margin: 0 auto 157px;
}

.description {
  font-size: 38px;
  line-height: 1.26;
  max-width: 740px;
  margin: 0 auto;
}
