@import '../App/vars.less';

.editor {
  box-sizing: border-box;
  max-width: 1420px;
  margin: 0 auto;
  padding: 96px 60px;
}

.field {
  margin: 0 auto 96px;
  font-size: 20px;
  font-family: @fontFamilyLarge;

  &:last-child {
    margin-bottom: 0;
  }

  &.text {
    width: 740px;
  }

  &.name {
    font-size: 38px;
    line-height: 1.26;
    font-family: @fontFamilyLarge;
  }
}
