{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "globals": {
    "google": true
  },
  "env": {
    "browser": true
  },
  "rules": {
    "react/no-array-index-key": "off",
    "react/button-has-type": "off"
  }
}
