@import '../../App/vars.less';

.cover {
  margin: 0 0 183px;
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 424px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.fileInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 14px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.48);
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
  color: @greyDarkMedium;
  transition: color 0.2s ease;

  &:hover,
  &:focus {
    color: @blue;

    .icon svg {
      fill: @blue;
    }
  }

  input {
    display: none;
  }

  .icon {
    margin: 0 0 70px;

    svg {
      width: 86px;
      height: 86px;
      fill: @greyDarkMedium;
      transition: fill 0.2s ease;
    }
  }

  .label {
    font-size: 26px;
    font-weight: bold;
  }
}
