@import '../App/vars.less';

.container {
  position: relative;
}

.containerOpen {
  z-index: 1;
}

.input {
  composes: input from '../TextInput/styles.less';
}

.suggestionsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 6px 0 0;
  font-size: 14px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1), 0 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff;
}

.suggestionsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
  transition: color 0.2s ease, background 0.2s ease;
}

.suggestionHighlighted {
  background: @greyLightMedium;
  color: @green;

  &:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
