@import '../App/vars.less';

.fileInput {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px dashed @greyLight;
  border-radius: 8px;
  text-align: left;
  background: none;
  cursor: pointer;
  transition: background 0.2s ease;
  outline: none;

  &:hover,
  &:focus {
    background: @greyLightMedium;
  }

  input {
    display: none;
  }
}
